<h1>
  About us</h1>
<!-- Thai's About Me Section -->
<p>Hello! My name is Thai Cornelius and I am a Genius in the Hidden Genius project. I am doing this project along side my brother, Andre. Our goal is to help stop the raising number of dropouts in our community.</p>
<p>This is a link to my personal portfolio
  <%= link_to 'https://thaithai123.github.io/cv/' %></p>
<hr>
