<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thai and Andre's Website</title>
  </head>
  <body>
    <h1>Thai and Andre's Website</h1>
    <h2>Geniuses in the Hidden Genius Project</h2>
    <h3>Cohort 3</h3>
    <p>Our names are Thai and Andre and this website is about the high number of Drop outs in society. Our mission is to help the fight against dropping out and provide methods to help students that are considering dropping out or have already dropped out.</p>

  </body>
</html>
